.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
  color: #0a66c2;
}

.input__box {
  width: 100%;
  border-radius: 50px;

  background-color: #f6f8fa;
  padding: 20px 30px;
  font-size: 25px;
  border: 1px solid #cbcccd;
  transition: 0.2s;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(134, 132, 132, 0.5);
  outline: none;
}

.input_submit {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #030c16;
  color: #793dff;
  transition: 0.2s all;
}

.logo {
  width: 50px;
  height: 50px;
  color: rgb(255, 255, 255);
}

.input_submit:hover {
  background-color: #793dff;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container {
  width: 95%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 47.5%;
  padding: 15px;
  background-color: #6a3bdf;
  justify-content: center;
  align-items: center;
}

.dragactive {
  background-color: #3D946E;
}

.dragcomplete {
  background-color: #3D946E;
}

.remove {
  background-color: #3D946E;
}

.todos__heading {
  font-size: 30px;
  /* text-align: center; */
  color: white;
}

.todos__single {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: #ECEBFF;
  transition: 0.2s;
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}